/**
 * Page header
 */



/* Header %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.header-container,
.header-container2,
.header-container3 {
    background-repeat: repeat;
    background-position: center top;
    background-attachment: scroll;
}
.header {
    padding: 0;
}


/* User menu and Top Links
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Clear floats and override custom styles to avoid incorrect position of elements */
.user-menu {
	width:100%;
	float:none;
	margin:0;

	/* Clear floats of other elements */
	clear: both;
}

/* Line breaker */
.user-menu .line-break-after { clear:both; margin-bottom: 1px; }

/* Clear floats */
.user-menu:before,
.user-menu:after {
	display: table;
	content: " ";
}
.user-menu:after {
	clear: both;
}

/* Top Links - clear floats */
.top-links ul:before,
.top-links ul:after {
	display: table;
	content: " ";
}
.top-links ul:after {
	clear: both;
}


/* Logo
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Important: logo needs to be displayed as inline-block to avoid 
   excessive width of the logo when the logo is narrower than its container.
   Otherwise, the logo would scale up to fill the entire container. */
.header .logo-wrapper .logo {
	display:inline-block;
	max-width:94%;
	margin:10px 0;
	text-decoration:none !important;
}
/* Fix for Firefox and IE. In regular header, stretch the image to full width.
   Thanks to that, on small screens when logo is scaled down it will not expand its container. */
.header-regular .logo-wrapper .logo img {
	width: 100%;
}

/* If logo is h1, the link is inside so make it displayed as block */
.header .logo-wrapper h1.logo a {
	display: block;
}
.header .logo strong {
    position: absolute;
    top: -999em;
    left: -999em;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -999em;
    overflow: hidden;
}


/* Skip links
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Products counter */
.skip-link .count {
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: red;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* To display products counter sticked above the icon, uncomment this code: */
	/*
	margin-left: -14px;
	margin-right: -7px;
	margin-top: -22px;
	position: relative;
	*/
}


/* Block markers
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
#nav-marker-regular,
#nav-marker-regular2,
#search-marker-regular,
#account-links-marker-regular,
#mini-compare-marker-regular,
#mini-cart-marker-regular,

#nav-marker-mobile,
#search-marker-mobile,
#account-links-marker-mobile,
#mini-compare-marker-mobile,
#mini-cart-marker-mobile
{
	display: none;
}



/* Regular header mode - for desktop view %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Vertically aligned grid (in "Header - Primary" section)
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.header-regular .hp-blocks-holder {
	display:table;
	width:100%;
}
.header-regular .hp-blocks-holder .hp-block {
	float:none;
	display:table-cell;
	vertical-align:middle;
}
.header-regular .hp-blocks-holder .hp-block:before,
.header-regular .hp-blocks-holder .hp-block:after {
	display: table;
	content: " ";
}
.header-regular .hp-blocks-holder .hp-block:after {
	clear: both;
}


/* Header items
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.header-regular .item-left {
	float: left;
	margin-right: 5px;
	text-align: left;
}
.header-regular .item-right {
	float: right;
	margin-left: 5px;
	text-align: right;
}


/* Header columns
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.header-regular .left-column {
	text-align: left;
}
.header-regular .central-column {
	text-align: center;
}
.header-regular .right-column {
	text-align: right;
}

/* Central column inside primary header
-------------------------------------------------------------- */
.header-regular .header-primary .central-column {
	padding-left: 10px;
	padding-right: 10px;
}

/* Left column 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Dropdowns
-------------------------------------------------------------- */
/* Force left-aligned edge of dropdowns */
.header-regular .left-column .dropdown .dropdown-content {
	left: 0;
	right: auto;
}
/* Avoid dropdown heading stretched in containing block */
.header-regular .left-column .dropdown {
	display: inline-block;
}

/* Search box
-------------------------------------------------------------- */
.header-regular .left-column .search-wrapper {
	float: left;
}

/* Elements of User Menu
-------------------------------------------------------------- */
.header-regular .left-column .user-menu .search-wrapper,
.header-regular .left-column .user-menu .mini-cart,
.header-regular .left-column .user-menu .mini-compare,
.header-regular .left-column .user-menu .top-links,
.header-regular .left-column .user-menu .top-links ul {
	float: left;
}

/* Menu, holders and holders wrapper
-------------------------------------------------------------- */
.header-regular .left-column .nav-holders-wrapper,
.header-regular .left-column .navi {
	float: left;
}
.header-regular .left-column .nav-holders-wrapper .nav-holder {
	float: left;
}


/* Right column
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Dropdowns
-------------------------------------------------------------- */
/* Force right-aligned edge of dropdowns */
.header-regular .right-column .dropdown .dropdown-content {
	left: auto;
	right: 0;
}
/* Avoid dropdown heading stretched in containing block */
.header-regular .right-column .dropdown {
	display: inline-block;
}

/* Search box
-------------------------------------------------------------- */
.header-regular .right-column .search-wrapper {
	float: right;
}

/* Elements of User Menu
-------------------------------------------------------------- */
.header-regular .right-column .user-menu .search-wrapper,
.header-regular .right-column .user-menu .mini-cart,
.header-regular .right-column .user-menu .mini-compare,
.header-regular .right-column .user-menu .top-links,
.header-regular .right-column .user-menu .top-links ul {
	float: right;
}

/* Menu, holders and holders wrapper
-------------------------------------------------------------- */
.header-regular .right-column .nav-holders-wrapper,
.header-regular .right-column .navi {
	float: right;
}
.header-regular .right-column .nav-holders-wrapper .nav-holder {
	float: right;
}


/* Central column
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Search box
-------------------------------------------------------------- */
/* Centered search box */
.header-regular .central-column .form-search {
	margin:0 auto;
}

/* Elements of User Menu
-------------------------------------------------------------- */
/* Elements of the central column are centered so the "user-menu" container also needs to be centered:
   so it needs to be inline-block, it can't float and can't have 100% width. */
.header-regular .central-column .user-menu {
	display: inline-block;
	float: none;
	width: auto;
}
.header-regular .central-column .user-menu .search-wrapper,
.header-regular .central-column .user-menu #mini-cart-wrapper-regular, /* IMPORTANT: cart wrapper also needs to float */
.header-regular .central-column .user-menu .mini-cart,
.header-regular .central-column .user-menu .mini-compare,
.header-regular .central-column .user-menu .top-links,
.header-regular .central-column .user-menu .top-links ul {
	float: right;
}


/* Top header
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.header-regular .header-top .central-column {
	text-align: center;
}
.header-regular .header-top .central-column .item {
	display: inline-block;
	float: none;
}


/* Top header - selected elements
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Search box inside top header
-------------------------------------------------------------- */
.header-regular .header-top #search_mini_form {
	display: inline-block;
	vertical-align: middle;
}
.header-regular .header-top .form-search .input-text {
	height:28px;
	line-height:28px;
}
.header-regular .header-top .form-search .button {
	width:28px;
	height:28px;
	line-height:28px;
	font-size:10px;
}
.header-regular .header-top .form-search .search-autocomplete {
	top:30px !important;
}

/* User menu inside top header
-------------------------------------------------------------- */
.header-regular .header-top .item-left .user-menu > * {
	float: left;
}
.header-regular .header-top .item-right .user-menu > * {
	float: right;
}


/* Selected elements
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Search
-------------------------------------------------------------- */
/* Let the search box have the same width as containing block */
.header-regular .search-wrapper {
	width: 100%;
}


/* Menu elements
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Simple menu container
-------------------------------------------------------------- */
/* Menu container is marked with "simple" class.
   It's added when menu is inside a container which is not full-width but is narrow
   and placed in one of the header sections. */

/* Expand the width of the "nav" class element */
.header-regular .nav-container.simple .nav {
	width: 100%;
}
/* Remove side padding from inner container */
.header-regular .nav-container.simple .inner-container {
	padding-left: 0;
	padding-right: 0;
}


/* Other
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/*.header-regular .header-top .lang-switcher,
.header-regular .header-top .currency-switcher, */
.header-regular #lang-switcher-wrapper-regular,
.header-regular #currency-switcher-wrapper-regular,
.header-regular .header-top .dropdown {
	margin:0;
}


/* Elements hidden in regular header
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.header-regular .header-m-container,
.header-regular .skip-links-clearer,
.header-regular #header-nav, /* Important: "#nav-marker-mobile" is wrapped inside "#header-nav" */

/* Deprecated rules to hide elements in regular header (left for backward compatibility) */
.header-regular .skip-link,
.header-regular .logo-wrapper--mobile,
.header-regular .logo--mobile,
.header-regular .header-collateral,
.header-regular .after-mobile-logo,
.header-regular #user-menu-wrapper-mobile,

/* Deprecated identifiers of wrappers */
.header-regular #search-wrapper-mobile,
.header-regular #account-links-wrapper-mobile,
.header-regular #mini-cart-wrapper-mobile,
.header-regular #mini-compare-wrapper-mobile,
.header-regular #nav-wrapper-mobile
{
	display: none;
}


/* Selected skip links in regular header
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Cart + compare
-------------------------------------------------------------- */
/* Skip links has to be hidden except cart and compare */
.header-regular .mini-cart-heading,
.header-regular .mini-compare-heading { 
	display: block;
}

.header-regular .mini-cart-heading .label.no-display,
.header-regular .mini-compare-heading .label.no-display {
	display: none;
}



/* Mobile header mode %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Get rid of vertical padding */
.header-mobile .header-top,
.header-mobile .header-primary,
.header-mobile .nav {
	padding-top: 0;
	padding-bottom: 0;
}


/* Vertically aligned grid of blocks (in "Header - Primary" section).
   In mobile header all blocks are stretched to full width
   and stack vertically.
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.header-mobile .hp-blocks-holder .hp-block {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}


/* Header items
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* In mobile header, only items inside mobile container can float */
.header-mobile .header-m-container .item-left {
	float: left;
	text-align: left;
}
.header-mobile .header-m-container .item-right {
	float: right;
	text-align: right;
}

/* Dropdowns
-------------------------------------------------------------- */
/* Force left-aligned edge of dropdowns */
.header-mobile .header-m-container .item-left .dropdown .dropdown-content {
	left: 0;
	right: auto;
}
/* Force right-aligned edge of dropdowns */
.header-mobile .header-m-container .item-right .dropdown .dropdown-content {
	left: auto;
	right: 0;
}


/* Selected elements
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Top links
-------------------------------------------------------------- */
.header-mobile .top-links {
	float: none !important;
	clear: both;
}
.header-mobile .top-links ul {
	float: none !important;
}

/* Logo and collateral elements
-------------------------------------------------------------- */
/* Regular logo */
.header-mobile .logo-wrapper--regular {
	display: none;
}

/* Mobile logo */
.header-mobile .logo-wrapper--mobile {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.header-mobile .logo-wrapper--mobile .logo {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Header collateral elements
-------------------------------------------------------------- */
.header-mobile .header-collateral {
	float: right;
	text-align: right;
}
/* If collateral next to logo, logo floats left */
.header-mobile .header-collateral + .logo-wrapper--mobile {
	float: left;
	text-align: left;
}

/* User menu
-------------------------------------------------------------- */
.header-mobile .user-menu {
	float: none !important;
	margin: 0; /* Important: remove margins to collapse the block completely */
}

/* Language/currency switcher
-------------------------------------------------------------- */
/* The "move-switchers" class indicates that in mobile header the default language/currency switchers
   should be hidden because they are replaced with switchers in alternative position (next to the logo).
   So we need to hide both versions of switchers: regular and mobile. */
.header-mobile.move-switchers #lang-switcher-wrapper-regular,
.header-mobile.move-switchers #currency-switcher-wrapper-regular {
	display: none;
}
.header-mobile.move-switchers #lang-switcher-wrapper-mobile,
.header-mobile.move-switchers #currency-switcher-wrapper-mobile {
	display: none;
}

/* Other
-------------------------------------------------------------- */
.header-mobile .line-break-after {
	display: none !important;
}


/* Menu elements
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Hide/show basic elements */
.header-mobile .nav-mobile { display: block !important; } /* Always displayed */
.header-mobile .vertnav-trigger { display: none !important; } /* Always hidden */
.header-mobile .mobnav-trigger { display: none !important; } /* Always hidden */
.header-mobile .nav-inline-links { display: none !important; } /* Always hidden */

/* Containers
-------------------------------------------------------------- */
/* Important: menu container is also a "skip-content" block */
.header-mobile .nav-container {

	/* Padding for menu container may be added via admin panel so we need to remove it for mobile header */
	padding: 0;

	/* If needed, reset also other styles which are added to standard "skip-content" blocks */
	/* Remove background color */
	background-color: transparent;
}

/* Menu bar
-------------------------------------------------------------- */
/* Remove shadow */
.header-mobile .nav-container .nav,
.header-mobile .nav-container .navi {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.header-mobile .nav-border-bottom
{
	border-bottom: none;
}

/* Menu items
-------------------------------------------------------------- */
/* Mobile menu - remove possible gap from the top of the very first item.
   Gaps are added as dividers between items of the mobile menu accordion. */
.header-mobile .nav-mobile .nav-item.nav-1 {
	margin-top: 0 !important;
}


/* Elements hidden in mobile header
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.header-mobile .container_header_primary_left_1, /* Containers for custom content */
.header-mobile .container_header_primary_central_1,
.header-mobile .container_header_primary_right_1,
.header-mobile #lang-switcher-wrapper-regular,
.header-mobile #currency-switcher-wrapper-regular
{
	display: none;
}

.header-mobile .header-top .item:not(.item-interface)
{
	display: none;
}


/* Skip links in mobile header
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.header-mobile .skip-link {
	cursor: pointer;
	float: left;
	position: relative;
	text-align: center;
	width: 20%;
	height: 50px;
	line-height: 50px;
	max-height: 50px; /* To avoid flickering on load (height of mini cart tab is too small) in mobile view */
}
.header-mobile a.skip-link {
	text-decoration: none;
}

/* Skip link elements
-------------------------------------------------------------- */
.header-mobile .skip-link .icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
	font-size: 16px;
	line-height: 16px;
}
.header-mobile .skip-link .label {
	display: inline-block !important; /* Added "!important" because label can be hidden in cart and in compare */
	vertical-align: middle;
	line-height: 16px;
	font-size: 14px;
}
.header-mobile .skip-link .count {
	display: inline-block;
	vertical-align: middle;
}
.header-mobile .skip-link .caret {
	display: none !important;
}

/* Active link
-------------------------------------------------------------- */
.header-mobile .skip-link.skip-active,
.header-mobile .skip-link:hover {
	color: inherit;
}
.header-mobile .skip-link.skip-active span {
	color: inherit;
}
.header-mobile .skip-link.skip-active .count {
	color: #fff;
}

/* Size
-------------------------------------------------------------- */
.header-mobile .skip-links--1 .skip-link { width: 100%; }
.header-mobile .skip-links--2 .skip-link { width: 50%; }
.header-mobile .skip-links--3 .skip-link { width: 33.33%; }
.header-mobile .skip-links--4 .skip-link { width: 25%; }
.header-mobile .skip-links--5 .skip-link { width: 20%; }
.header-mobile .skip-links--6 .skip-link { width: 16.66%; }


/* Skip content
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* In mobile header the content is hidden.
   It's displayed only when skip link was clicked.
-------------------------------------------------------------- */
.header-mobile .skip-content {
	display: none;
}
.header-mobile .skip-content.skip-active {
	display: block;
}

/* Styls (required in skip-content blocks) are added through
   this special class so that we can control which content
   blocks are styled.
-------------------------------------------------------------- */
.header-mobile .skip-content--style {
	clear: both;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/* Skip content blocks have to be reset the same as all grid units
	   because skip content blocks can have grid units */
	width:100% !important; /* Added "!important" to override units with "no-gutter" class */
	margin: 0;
}
.header-mobile .skip-content--style:before,
.header-mobile .skip-content--style:after {
	display: table;
	content: " ";
}
.header-mobile .skip-content--style:after {
	clear: both;
}


/* Selected skip links
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Compare
-------------------------------------------------------------- */
/* Hide compare block's heading (only heading) */
.header-mobile .skip-link.mini-compare-heading {
	display: none;
}


/* Selected skip content
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Height of mobile menu items and vertical inline links
-------------------------------------------------------------- */
.nav-mobile .nav-item > a, /* Important: do not add ".header-mobile" at the beginning, height needs to be applied */
.header-mobile .account-links .links > li > a {
    line-height: 50px;
}

/* Generic vertical inline links (e.g. account links)
-------------------------------------------------------------- */
.header-mobile .account-links .links > li {
	float: none;
}
.header-mobile .account-links .links > li > a {
	background-image: none; /* Remove link separators */
}

/* Search
-------------------------------------------------------------- */
.header-mobile .skip-content .form-search {
	width: 100%;
}
.header-mobile .skip-content .form-search .input-text {
	width: 100%;
}

/* Cart + compare
-------------------------------------------------------------- */
/* Important: possible value "relative" of the "position" property.
   Cart can be a dropdown, so in mobile header we need to reset "position" of the dropdown container so that it doesn't cover other skip links.
   We also need to remove float.
   */
.header-mobile .mini-cart,
.header-mobile .mini-compare {
	position: static;
	float: none;
	display: block; /* To make sure it's not "inline-block" */
}

.header-mobile .skip-content.mini-cart-content,
.header-mobile .skip-content.mini-compare-content {
	clear: both;
	width: 100%;
}

/* Compare
-------------------------------------------------------------- */
.header-mobile .mini-compare .skip-content .actions {
	border: none;
	padding-top: 0;
}



/* Regular header - stacked columns %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* Special class indicates that the columns of the primary header section
   become full width and stack vertically.
   IMPORTANT: these styles need to be placed after mobile menu styles to override them.
*/

@media only screen and (max-width: 960px) {

	/* Reset blocks below this breakpoint */
	.header-regular .hp-blocks-holder--stacked .hp-block {
		display: block;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.header-regular .hp-blocks-holder--stacked .right-column {
		text-align: inherit;
	}
	.header-regular .hp-blocks-holder--stacked .left-column {
		text-align: inherit;
	}
	
	/* Menu - positionning of menu, holders and holders wrapper
	-------------------------------------------------------------- */
	/* Remove floating of the menu container */
	.header-regular .hp-blocks-holder--stacked .nav-container {
		float: none;
	}

	/* Remove floating of the menu */
	.header-regular .hp-blocks-holder--stacked .navi {
		float: none;
	}

	/* Logo
	-------------------------------------------------------------- */
	.header-regular .hp-blocks-holder--stacked .logo-wrapper {
		text-align: center;
	}
	.header-regular .hp-blocks-holder--stacked .logo-wrapper .logo {
		max-width: 60%;
		margin-left: auto; /* Margins "auto" not needed. Left in case custom CSS removes "display:inline-block" from the ".logo" element. */
		margin-right: auto;
	}
		
	/* Search
	-------------------------------------------------------------- */
	.header-regular .hp-blocks-holder--stacked .search-wrapper {
		float: none;
		max-width: 440px;
		margin: 10px auto; /* Add space above and below search box */
	}

}



/* Sticky header %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.sticky-header .sticky-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	background-color: #fff;
}

/* Reset selected styles of the menu bar in sticky header
-------------------------------------------------------------- */
/* Remove additional padding above and below the menu container */
.sticky-header .nav-container {
	padding-top: 0;
	padding-bottom: 0;
}
/* Remove background color and vertical padding (they work as an outline of the menu bar) from the nav container */
.sticky-header .nav-container .nav {
	background-color: transparent;
	padding-top: 0;
	padding-bottom: 0;	
}

/* Remove shadow from the menu bar wrapper and from the menu bar container */
.sticky-header .nav-container .nav,
.sticky-header .nav-container .navi-wrapper,
.sticky-header .nav-container .navi:not(.nav-vert) {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* Category labels
-------------------------------------------------------------- */
/* Make top-level category labels invisible */
.sticky-header .nav-regular .nav-item.level0 > a .cat-label {
	display: none;
}
/* Alternatively, we can make the labels smaller */
/*.sticky-header .nav-regular .nav-item.level0 > a .cat-label {
	font-size: 11px;
	line-height: 15px;
	padding: 0 4px;
	top: 2px;
}
.sticky-header .nav-regular .nav-item.level0 > a .pin-bottom:before { display: none; }*/

/* Full width content 
-------------------------------------------------------------- */
.sticky-header .sticky-container--full-width .container {
	/* Stretch the container to take all available space */
	max-width: none;
	width: 100%;
}
.sticky-header .sticky-container--full-width .inner-container {
	padding-left: 0;
	padding-right: 0;
}

/* Hide selected elements
-------------------------------------------------------------- */
/* Text label of the dropdown when inside sticky header */
.sticky-header .nav-holder .dropdown-heading .label {
	display: none;
}





/* Logo */
.header .logo-wrapper .logo {
    width:370px;
}

/* Search */
.header-regular .header-top .form-search .input-text {
    border-radius: 25px;
    background-color: #7C70C6;
}
/* app/locale/en_US/Mage_CatalogSearch.csv */
/* "Search entire store here..." to "search for product" */

/* Hide Account Log In */
.header-regular .header-top .item-left .user-menu > * {
	display:none;
}
/* Remove Welcome Message */
/* Configuration - Design - Header - Welcome Text */



.header-regular .right-column .nav-holders-wrapper .nav-holder {
	display:none;
}
